html, 
head{
  h1{
    color: magenta;
  }
}

body{
  background-color: lightgray
}
h1{
  color: black;
  text-align: center;
}
h2{
  color: darkblue;
  text-align: center;
}
h3{
  color: blue;
  text-align: center;
}
h4{
  color: gray;
  text-align: center;
}
p{
  text-align: justify;
  font-family: verdana;
  font-size: 14;
}
span{
  font-weight: bold;
  font-size: 15;
}
